body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #69FFB4;
  font-family: 'Dekko';
  position: relative;
  min-height: 100vh;
}

.gridRow {
    display: flex; 
    border: 2px solid #ff69b4;
    min-height: 30px;
    min-width: 30px;
  }

  .gridColumn {
    border: 2px solid black; 
    min-height: 30px;
    min-width: 30px;
    background-color: white;
  }

  #gridContainer {
    margin: 30px;
    flex: 1;
    padding-bottom: 2.5rem;
  }

  .gridSizePrompt {
    background-color: #ff69b4;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border: 3px solid black;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    flex: 1;
  }

  footer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 15px;
    position: absolute;
    bottom: 0; 
    height: 2.5rem;
    width: 100%;
  }